# vite
dist
node_modules
.vercel
.env.local
.env.development.local
.env.production.local
.env.test.local

# react
*.cache
*.log
*.tmp
*.map
*.tsbuildinfo
*.swp

# miscellaneous
.DS_Store
.env
.env.local
.env.development.local
.env.production.local
.env.test.local
.env.development
.env.production
.env.test
.env.local
.env.development.local
.env.production.local
.env.test.local
.idea
.vscode
